DATABASE_URL=postgresql://postgres:postgres@localhost:5435/postgres
JWT_SECRET=pwjksfdhsjhdfjsdgfjhsgdfhgsdfhghkjasdkh
PORT=9000
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_DB=postgres